body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color:white;
}
.navigasi_bar {
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-left: 1.4rem;
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.menu {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 0.3rem;
}
.menu:hover {
    color: #ff0000;
}

#humberger_menu {
    color:white;
    margin: 0.5rem;
}

#humberger_menu:hover{
    color: #ff0000;
}


.hero {
    
    height: calc(130vh - 130px);
    background-image: url(mufid-majnun-_YLnT33dRHw-unsplash\ \(1\).jpg);  
    background: linear-gradient(0deg rgb(1, 1, 3, 1)8%); 
}
 
.box-portofolio {
    text-align: center;
    color: #d4ad88;
    padding-top: 50px;
    align-content: center;

}
.box-portofolio .box-kiri .box-tengah  {
    float: left;
    
    
}

.box-kiri,.box-tengah {
    display: flex;
    color: aliceblue;
}
.box-kiri img {
    padding: 10px;
    border-radius: 50%;
    width: 250px;
    height: auto;
    margin: 1px;
    padding-top: 0x;
    

}  



.box-tengah img {
    padding: 10px;
    border-radius: 50%;
    width: 250px;
    height: auto;
    margin: 1px;
    margin-top: 0;
    
}

.text {
    margin-top: 0;
    margin-left: 0%;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    display: flex;
}
.text-p {
    font-size: 20px;
    text-align: justify;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    
    
}
 
.text-2 {
    margin-top: 0;
    margin-left: 0%;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    display: flex;
}
.text-p2 {
    font-size: 20px;
    text-align: justify;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
}






